<!DOCTYPE html>
<html>
   <head>
      <title>Home Page</title>
      <%- include('partials/head.ejs') %> <%-
      include('partials/head-firebase.ejs') %>
      <script src="/js/home.js"></script>
   </head>

   <body>
      <h1>Welcome to the home page.</h1>
      <h2 id="displayName">guest</h2>

      <% for(registration of data.data) { %>
      <p>
         <%= registration.email %> wants updates on <%= registration.classID %>
      </p>
      <% } %>

      <br />
      <form id="registrationForm" action="/register" method="POST">
         <label for="classID">Which class would you like to monitor?</label>
         <input id="form-classID" name="classID" />
         <br />
         <label for="email"
            >Which email address would you like to recieve notifications?</label
         >
         <input id="form-email" name="email" />
         <button type="submit" name="submitButton">Submit!</button>
		</form>
		
		<br/>
		<br/>
		<br/>

		<p id="fbData"></p>
   </body>
</html>
