<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<%- include('partials/head.ejs') %> <%-
		include('partials/head-firebase.ejs') %>
		<script src="/js/login.js"></script>
	</head>

	<body>
		<%- include('partials/fbSDK.ejs') %>
		<h1>Login</h1>
		<div id="firebaseui-auth-container"></div>
	</body>
</html>
