<!DOCTYPE html>
<html>
   <head>
      <title>Home Page</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <%- include('partials/firebase.ejs') %>
      <script src="/assets/login.js"></script>

   </head>

   <body>
      <h1>Login</h1>
      <div id="firebaseui-auth-container"></div>
   </body>
</html>
