.logs-content {
	padding: 5% 5% 10% 5%;
}

.logs-listWrapper {
	padding: 7%;
	padding-bottom: 10%;
	border-radius: 2rem;
	background-color: #1f1f1f;
}

.logs-listWrapper .ant-timeline-item-head-custom {
	background-color: transparent !important;
}

.logs-timelineDotAdd {
	color: darkgreen;
}

.logs-timelineDotChange {
	color: yellow;
}

.logs-timelineDotChangeUp {
	color: green;
}

.logs-timelineDotChangeDown {
	color: red;
}

.logs-timelineDotRemove {
	color: darkred;
}

/* .logs-timelineDotSeeAll {
	color: blue;
}

.logs-timelineDotHide {
	color: blue;
} */

.log-timeTitle .ant-list-item-meta-title {
	font-size: 1.5em;
	font-weight: bold;
	/* text-align: center; */
}

.logs-topicName {
	font-size: 1.2em;
	font-weight: bold;
}

.log-seeAll {
	font-style: italic;
	cursor: pointer;
}

/* tablets and desktop */
@media only screen and (min-width: 813px) {
}

/* phones */
@media only screen and (max-width: 813px) {
}

/* portrait phones */
@media only screen and (max-width: 813px) and (orientation: portrait) {
}
