.settings-content {
	padding: 5% 5% 15% 5%;
}

.settings-section {
	padding: 7%;
	border-radius: 2rem;
	/* MAKE RANDOM COLOR */
	background-color: #1f1f1f;
	margin-bottom: 5%;
}

.settings-profile {
	display: flex;
}

.profile-flexItem {
}

.profile-profilePicture {
	margin-right: 10%;
}

.profile-info {
	flex-grow: 1;
	align-self: flex-end;
}

.profile-infoName {
	font-size: 3em;
}

.settings-reg .ant-list-item {
	border-width: 0;
}

/* tablets and desktop */
@media only screen and (min-width: 813px) {
}

/* phones */
@media only screen and (max-width: 813px) {
}

/* portrait phones */
@media only screen and (max-width: 813px) and (orientation: portrait) {
}
